@import "vars";

footer{
    background: var(--f-bg);
    position: relative;


    &>.inside{
        position: relative;
        margin: 0 auto;
        max-width: $x-spacing-small;
    /*
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5625rem;
        */
    }
}